:root {
  --text-color: #fff;
  --bg-color: #000;
}


body {
  text-align: center;
  background-color: var(--bg-color, black);
  color: var(--text-color, white);
  font-family: 'Roboto', sans-serif;
}

#game {
  width: 400px;
  height: 600px;
  margin: 0 auto;
  /* border: 1px solid black; */
  border: 2px solid white;
}

#game-container {
  position: relative;
  background-color: var(--bg-color, black);
  color: var(--text-color, white);
  max-width: 404px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#message {
  position: absolute;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 200px;
  margin: 0;
  padding: 0 20px;
  white-space: pre-line;
}

#title {
  position: absolute;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 5px;
  width: 350px;
  height: 200px;
  margin: 0;
  padding: 0 20px;
}

#top-display {
  /* position: absolute; */
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  /* top: 605px;
  left: 0; */
  width: 400px;
  height: 20px;
  margin: 0 auto;
  padding: 0;
  padding-left: 5px;
  text-align: left
}

#info-container {
  margin: 20px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: 404px;
}

#fs-button, #speed-button, #debug-button, #mute-button {
  border: 2px solid var(--text-color, white);
  color: var(--text-color, white);
  background-color: var(--bg-color, black);
  margin: 5px auto;
  width: 125px;
}

.column {
  display: flex;
  flex-flow: column wrap;
}

/* Will condense these once formatting is complete */
.container {
  padding-top: 10px;
}

.no-padding {
  padding: 0;
}

.win, .lose, .title {
  color: var(--text-color, white);
  margin: 0;
  padding: 0;
}

.loading, .menu, .pause{
  color: var(--text-color, white);
  margin: 0;
  padding: 0;
  animation: blinker 2s ease-in-out infinite alternate;  
}

@keyframes blinker { to { opacity: 0; } }

.lives-title {
  color: var(--text-color, white);
  margin: 0;
  padding: 0;
  width: 90px;
}

.score-title {
  color: var(--text-color, white);
  margin: 0;
  padding: 0;
  width: 200px;
  text-align: center;
}

.level-title {
  color: var(--text-color, white);
  margin: 0;
  padding: 0;
  width: 100px;
  margin-right: 5px;
  text-align: right;
}

.showMessage {
  display: flex;
  top: 200px;
  left: 5px;
}

.hideMessage {
  display: none;
  visibility: hidden;
}


#controls {
  flex-flow: row nowrap;
  margin: 0;
  width: 404px;
  height: 200px;
}

.left {
  flex-basis: 100px;
  flex-grow: 2;
}

.right {
  flex-basis: 100px;
  flex-grow: 2;
}

.middle {
  max-width: 100px;
  flex-basis: 100px;
  flex-grow: 1;
}

.touch-buttons {
  border: 1px solid var(--text-color, white);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  cursor: pointer;
}

.hide-controls {
  display: none;
  visibility: hidden;
}

.show-controls {
  display: flex;
}


#highscores {
  margin-left: 10px;
  text-align: center;
}

#highscore-list {
  list-style-type: none;
  padding: 0;
}

.highscore-item {
  margin: 0;
}

.info {
  text-align: center;
  margin-top: 10px;
}

.row {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

.block-header{
  display: block;
  width: 100%;
  margin: 5px 0 0 0;
}

.info p {
  text-align: center;
  width: 100%;
}